@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700');
$darkgray: #404040;
$todocolor: rgba(0, 0, 0, .7);
$todocolorback: rgba(0, 0, 0, .8);
$background: rgb(148, 144, 144);
$darkerback: rgb(116, 114, 114);
$white: #fff;

body {
  background-color: $background;
}

nav {
  background-color: $darkgray;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

b {
  font-size: 13px;
}

.nav div {
  height: 50px;
  margin: 0;
}

i {
  text-shadow: -1px -1px 1px rgb(33, 33, 33);
  transition: visibility 0.5s, opacity 0.5s linear;
}
.nav-bar-li {
  margin: 0;
  width: 40px;
}

.over-time {
  animation: overtimefadein 2s infinite;
}

@keyframes overtimefadein {
    0%  { opacity: 0; }
    50%  { opacity: 1; }
    100%  { opacity: 0; }
}

.time, .over-time {
  font-weight: 700;
  margin-top: 10px;
}

.todo-descrip {
  height: 50px;
}

.pwd {
  margin-left: -20px;
}

.log {
  margin-left: -25px;
}

.nav li b {
  margin-top: -25px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.nav div:hover i {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.nav div:hover b {
  opacity: 1;
  display: block;
  visibility: visible;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.update-task {
  position: absolute;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  text-align: center;
  display: block;
  margin-top: 15px;
  background-color: $background;
  border-radius: 10%;
  transition: background-color 1s;
//  animation: fadein 2s;
}
/* fadein transtion
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
*/

.card button {
  border-radius: 8px;
}

.card:hover {
  background-color: $darkerback;
  transition: background-color 1s;
}

.dng {
  color: white;
  background-color: rgba(124, 41, 41, .9);
  transition: background-color 1s;
}

.dng:hover {
  background-color: rgba(100, 21, 21, .9);
  transition: background-color 1s;
}

#empty-space-div {
  height: 80px;
}

.titleh5 {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 600;
  text-shadow: -1px -1px 1px rgb(33, 33, 33);
}
h2 {
  color: white;
}

.taskscompleted {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 5px;
}

h1, h2, .titleh5, .taskscompleted {
  font-family: 'Dosis', sans-serif;
}

.to-do-h1 {
  color: $white;
  font-size: 100px;
  margin-bottom: 0;
  text-align: center;
}

.to-do-h4 {
  color: $white;
  font-size: 29.5px;
  margin-top: 0;
  text-align: center;
}

.create-to-do, .add-another {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.no-to-do {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: flex-end;
}

.sign-up-wrap {
  height: 100vh;
}

.sign-up-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: flex-end;
}

.login-container {
  height: 55vh;
}

.passwordForm {
  height: 60vh;
}

.login-container, .passwordForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.secondary-buttons {
  display: block;
  margin: auto;
}

.to-do-display {
  background-color: $todocolor;
  display: block;
  height: 80vh;
  margin: auto;
  margin-top: 25px;
  width: 80vw;
}
