@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Dosis');
$darkgray: #404040;
$todocolor: rgba(0, 0, 0, .7);
$background: rgb(175, 175, 175);
$white: #fff;

body {
  background-color: $background;
}

nav {
  background-color: $darkgray;
  height: 50px;
}

b {
  font-size: 13px;
}
.nav div {
  height: 50px;
  margin: 0;
}

.nav-bar-li {
  width: 120px;
}

.log {
  margin-left: -25px;
}

.nav li b {
  margin-top: -25px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.nav div:hover i {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.nav div:hover b {
  opacity: 1;
  display: block;
  visibility: visible;
}

.update-task {
  position: absolute;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  display: block;
  margin-top: 15px;
  background-color: rgba(255,255,255,.7)
}

#empty-space-div {
  height: 80px;
}

h1 {
  font-family: 'Dosis', sans-serif;
}

.to-do-h1 {
  color: $white;
  font-size: 100px;
  margin-bottom: 0;
  text-align: center;
}

.to-do-h4 {
  color: $white;
  font-size: 29.5px;
  margin-top: 0;
  text-align: center;
}

.create-to-do, .add-another {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.no-to-do {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: flex-end;
}

.sign-up-wrap {
  height: 100vh;
}

.sign-up-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65%;
  justify-content: flex-end;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: flex-end;
}

.secondary-buttons {
  display: block;
  margin: auto;
}

.to-do-wrap {

}

.to-do-display {
  background-color: $todocolor;
  display: block;
  height: 80vh;
  margin: auto;
  margin-top: 25px;
  width: 80vw;
}
